<div class="card">
  <div class="card-body text-center">
    <LinkTo
      @route="authenticated.preferences.section"
      @model={{this.section_name}}
      class="text-decoration-none">
        <i class="{{this.icon_class}}"></i>
          <span class="title">{{this.section_name}}</span>
    </LinkTo>
  </div>
</div>