<Modal::Base
  @title="Confirm Deletion"
  @actionTitle="Delete"
  @onClose={{@onClose}}
  @onSubmit={{this.onSubmit}}
  @submitButtonClass="btn-danger"
  @onCancel={{this.onCancel}}
  ...attributes
>
  <p>
    Are you sure you want to delete selected items?
  </p>

</Modal::Base>