@import "node_modules/bootstrap/scss/bootstrap";
@import "./tag";
@import "./button";
@import "./node";
@import "./nav/sidebar";
@import "./nav/topbar";
@import "./login.scss";
@import "./document_version.scss";
@import "./search.scss";
@import "./preferences.scss";


body {
    background-color: #e9ecef;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}


.brand-image {
  width: 2rem;
  opacity: 0.8;
}

.brand-text {
  padding-top: 0.5rem;
  opacity: 0.8;
  font-weight: 300 !important;
}

.results.list > .item {
    padding: 0.25rem 1rem;
    margin: 0.5rem 1rem;
}


.results.grid > .item {
    padding: 1rem;
    margin: 1rem;
}

.central-bar {
  background-color: #f8f9fa;
}


.commander {
  background-color: white;
}

.viewer {
  background-color: white;
}

.droparea {
  outline: 1px solid green;
}
