@import "node_modules/bootstrap/scss/bootstrap";
@import "./tag";
@import "./button";
@import "./node";
@import "./login.scss";
@import "./search.scss";
@import "./preferences.scss";
@import "./ui_select.scss";
@import "./context_menu.scss";
@import "./zoom.scss";
@import "./components/nav/topbar";
@import "./components/viewer.scss";
@import "./components/commander.scss";
@import "./components/tag_input.scss";
@import "./components/breadcrumb.scss";

body {
  background-color: #e9ecef;
}

.user-select-none {
  user-select: none;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}


.brand-image {
  width: 2rem;
  opacity: 0.8;
}

.brand-text {
  padding-top: 0.5rem;
  opacity: 0.8;
  font-weight: 300 !important;
}

.results.list > .item {
    padding: 0.25rem 1rem;
    margin: 0.5rem 1rem;
}


.results.grid > .item {
    padding: 1rem;
    margin: 1rem;
}

.central-bar {
  background-color: #f8f9fa;
}


.commander {
  background-color: white;

  .empty_folder {
    margin: 2rem;
  }
}

.viewer {
  background-color: white;
}

.droparea {
  outline: 1px solid green;
}

.toast-container {
  z-index: 1000;
}

em {
  color: black;
}