
.thumbnails {
  max-width: 10rem;
  width: 10rem;
  overflow: scroll;

  .thumbnail {
    margin: 0.25rem;

    svg {
      border: 1px solid #ccc;
    }

    img {
      width: 6rem;
    }
    input[type=checkbox] {
      visibility: hidden;
    }
    &:hover {
      input[type=checkbox] {
        visibility: visible;
      }
    }
    &.checked {
      input[type=checkbox] {
        visibility: visible;
      }
      background-color:  #e6f5ff;
      outline: 1px solid #A6DAFF;
    }
  }

  .drop-placeholder {
    margin: 0.85rem;
    min-height: 7rem;
    border: 1px dashed #aaa;
  }

  .is-being-dragged {
    opacity: 0.5;
  }
}

.thumbnails-switch {
  background-color: #666;
  color: white;
}

.pages {
  overflow: scroll;
  position: relative;
  width: 100%;
  background-color: #666;

  .page {
    margin: auto;
    color: white;
    img {
      width: 100%;
    }
  }
}

svg.ocr_status {
    /* Use the current text color as the icon’s fill color. */
    fill: currentColor;
    /* Inherit the text’s size too. Also allows sizing the icon by changing its font-size. */
    width: 1em;
    height: 1em;
    /* The default vertical-align is `baseline`, which leaves a few pixels of space below the icon. Using `center` prevents this. For icons shown alongside text, you may want to use a more precise value, e.g. `vertical-align: -4px` or `vertical-align: -0.15em`. */
    vertical-align: middle;
    /* Paths and strokes that overflow the viewBox can show in IE11. */
    overflow: hidden;
}

svg.unknown {
    fill: #aaa;
}

svg.received {
    fill: orange;
}

svg.started {
    fill: None;
    animation: rotate_svg 1s linear infinite;
}

svg.succeeded {
    fill: #0aa70a;
}

svg.failed {
    fill: #e22e2e;;
}

@keyframes rotate_svg {
  to {
    transform: rotate(360deg);
  }
}

ul.download-document-version {
  max-height: 80vh;
  overflow-y: scroll;
}
