main.form-sign-in {
  .papermerge-logo {
    img {
      width: 7rem;
    }
  }

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  .card {
    width: 400px;
  }
}
