.node {
  display: flex;
  align-items: center;
  // make node title text unselectable
  user-select: none;

  .icon {
    width: 4rem;
    height: 3rem;
  }

  .icon.folder {
    background-image: url("/assets/images/folder.svg");
    background-size: 100% 88%;
  }

  .icon.document {
    background-image: url("/assets/images/document.svg");
    background-size: 100% 100%;
  }

  &.checked {
    background-color:  #e6f5ff;
    outline: 1px solid #A6DAFF;
  }

  &:hover {
    background-color: #8ed2fe66;
    outline: 1px solid #6fc5ff;
       //border: 1px solid $result_list_hover_border_color;
  }
  .title {
    a {
        text-decoration: none;
    }
    text-align: center;
    opacity: 1;
    z-index: 0;
 }
}


.view-mode-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .node {

    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;

    margin: 0.75rem;
    padding: 0.5rem;

    .icon {
      width: 6rem;
      height: 5rem;
    }

    input[type=checkbox] {
      align-self: start;
      visibility: hidden;
    }

    &:hover {
      input[type=checkbox] {
        visibility: visible;
      }
    }

    &.checked {
      input[type=checkbox] {
        visibility: visible;
      }
    }
  }
}

.view-mode-list {
  display: flex;
  flex-direction: column;

  .node {
    padding: 0.25rem;
  }
}