<div class="search-results">
  {{#if this.empty_results }}
      <SearchResults::NoResults />
  {{else}}
      <div>
        {{#each this.search_results as |node|}}
          <div>
            {{#if (is_equal node.node_type "folder")}}
              <SearchResults::Folder @result_node={{node}} />
            {{else}}
              <SearchResults::Document @result_node={{node}} />
            {{/if}}
          </div>
        {{/each}}
      </div>
  {{/if}}
</div>