{{#if this.more_than_one_page}}
  <nav class="m-2" ...attributes>
    <ul class="pagination">
      {{#each @pages as |page|}}
        <li class="page-item {{if page.active 'active'}}">
          <LinkTo
            @route={{@route}}
            @query={{hash page=page.number}}
            class="page-link">
              {{page.number}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </nav>
{{/if}}