<nav class="m-2">
  <ul class="pagination">
    {{#each this.pages as |page|}}
      <li class="page-item">
        <DualLinkTo
          @node={{@node}}
          @title={{page.number}}
          @hint={{@hint}}
          @query={{page.query}}
           class="page-link">
        </DualLinkTo>
      </li>
    {{/each}}
  </ul>
</nav>