<div class="node item document">
    <Document::Image
        src={{@doc.image}}
        alt="A picture of {{@doc.title}}"
    />

  <div class="details">
    <h3>
        <LinkTo @route="document" @model={{@doc}}>
            {{@doc.title}}
        </LinkTo>
    </h3>
  </div>
</div>