<div class="node document">
    <div class="icon document"></div>
    <div class="title">
        <LinkTo @route="document" @model={{@model}}>
            {{@model.title}}
        </LinkTo>
    </div>
</div>