<div class="node folder">
    <div class="icon folder"></div>
    <div class="title">
        <LinkTo @route="node" @model={{@model.id}}>
            {{@model.title}}
        </LinkTo>
    </div>
</div>