<div class="node folder {{if this.is_selected "checked"}}">
  <Input
    @type="checkbox"
    {{on "change" this.onCheckboxChange}} />
  <div class="icon folder"></div>
  <div class="title">
    {{yield}}
  </div>
</div>