<Breadcrumb />
<div class="node folder">
    <div class="icon folder"></div>
    <div class="title">
        <LinkTo @route="folder" @model={{@folder}}>
            {{@folder.title}}
        </LinkTo>
    </div>
</div>