<div class="node">
  <div class="icon {{@node.type}}"></div>
  <div class="details">
    <h3>
      <LinkTo @route="{{@node.type}}" @model={{@node}}>
          {{@node.title}}
      </LinkTo>
    </h3>
  </div>
</div>