  <div>
    <Input
      @type="checkbox"
      @checked="{{@permission.isChecked}}"
      {{on "change" (fn this.onChange @permission)}}
    />
    <span class="mx-1">{{@permission.name}}</span>
    <span class="mx-1 text-danger">{{@permission.content_type.model}}</span>
  </div>