{{#if this.are_not_same_panels }}
  {{#if @dualPanelMode}}
    <button
      type="button"
      class="btn btn-light mx-1"
      {{on 'click' @onDuplicatePanel}}>
        {{#if (is_equal @hint "left")}}
          <i class="bi-arrow-bar-right"></i>
        {{else}}
           <i class="bi-arrow-bar-left"></i>
        {{/if}}
    </button>

    <button type="button"
      class="btn btn-light mx-1"
      {{on 'click' @onSwapPanels}}>
        <i class="bi-arrow-left-right"></i>
    </button>
  {{/if}}
{{/if}}
