{{@model.document_version.document.title}}

<div class="d-flex">
  <Viewer::Thumbnails @pages={{@model.pages}} />

  <div class="d-flex flex-column pages">
    {{#each @model.pages as |page|}}
      <Viewer::Page @page={{page}} />
    {{/each}}
  </div>
</div>
