<div class="panel viewer col m-2 p-2">
  <div class="d-flex justify-content-between">
    <Viewer::ActionButtons />
  </div>

    <Breadcrumb
    @node={{@model.document_version.document}}
    @extranode={{@extranode}}
    @hint="left" />


  <div class="d-flex">
    <Viewer::Thumbnails @pages={{@model.pages}} />
    <Viewer::Pages @pages={{@model.pages}} />
  </div>
</div>
