<div class="page-placeholder"> 
  <div class="content d-flex justify-content-center align-items-center">
    <Spinner
      @inProgress="true"
      class="text-primary"
      style="width: 3rem; height: 3rem;" />
  </div>
</div>