<div class="page-placeholder"> 
  <div class="d-flex justify-content-center align-items-center h-100">
    <Spinner
      @inProgress="true"
      class="text-primary"
      style="width: 3rem; height: 3rem;" />
  </div>
</div>