<div class="thumbnails-switch" {{on "click" @onThumbnailsToggle}}>
  {{#if @thumbnails_visible}}
    <i class="bi bi-arrow-left-square fs-5"></i>
  {{else}}
    <i class="bi bi-arrow-right-square fs-5"></i>
  {{/if}}
</div>