<div
  class="d-flex flex-column thumbnails"
  {{adjust_element_height}}>
  {{#each @pages as |page|}}
    <Viewer::Thumbnail
      @page={{page}}
      @onDblClick={{@onDblClick}} />
  {{/each}}
</div>
