<div class="zoom d-flex justify-content-center">
  <div>
    <i class="bi bi-zoom-in px-1" {{on "click" @onZoomIn}}></i>
  </div>
  <div>
    <i class="bi bi-zoom-out px-1" {{on "click" @onZoomOut}}></i>
  </div>
  <div class="px-1" {{on "click" @onZoomFit}}>
    Fit
  </div>
</div>