<div class="thumbnail-placeholder"> 
  <div class="content d-flex justify-content-center align-items-center">
    <Spinner
      @inProgress="true"
      class="text-secondary"
      style="width: 1.5rem; height: 1.5rem;" />
  </div>
</div>