<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{this.name}}
    class="form-control"
    id="name"
    placeholder="Role's name" />
</div>

<Permissions
  @permissions={{@initial_permissions}}
  @onChange={{this.onChange}} />

<div class="mb-3">
  <Button::Submit @onClick={{this.onSubmit}} />
  <Button::Cancel @route="roles"/>
</div>