<tr>
  <td>
    {{@role.name}}
  </td>
  <td>
    <LinkTo
      @route="authenticated.roles.edit"
      @model={{@role.id}}>Edit</LinkTo>
    <Button::Link
      @text="Remove"
      @onClick={{(fn this.onRemove @role)}} />
  </td>
</tr>