<div class="mb-3">
  <Label @for="password1" @text="New Password" />
  <Input @value={{this.new_password_1}}
    @type="password"
    class="form-control"
    id="new_password_1"
    placeholder="New password" />
</div>

<div class="mb-3">
  <Label @for="password2" @text="Confirm New Password" />
  <Input @value={{this.new_password_2}}
    @type="password"
    class="form-control"
    id="new_password_2"
    placeholder="Confirm new password" />
</div>

<div class="mb-3">
  <Button::Submit
    @text="Change Password"
    @disabled={{this.disabled}}
    @onClick={{this.onSubmit}} />
  <Button::Cancel @route="users"/>
</div>
