<Button::New @route="automates.add" class="automates-add" />

<Table @titles={{array
    'name'
    'match'
    'destination'
    'tags'
    'action'}}>
  {{#each @model as |automate|}}
    <Automate::TableRow @automate={{automate}} />
  {{/each}}
</Table>
