<div class="d-flex">
  <Viewer::Thumbnails
    @pages={{@pages}}
    @onDblClick={{this.onThumbnailDblClick}} />
  <Viewer::Pages
    @pages={{@pages}}
    @scroll_to_page={{this.scroll_to_page}} />
</div>