<div class="btn-group">
  <button
    class="btn btn-success dropdown-toggle"
    data-bs-toggle="dropdown"
    type="button">
      <i class="fa fa-download"></i>
    Download
  </button>
  <ul class="dropdown-menu">
    {{#each @document_versions as |document_version|}}
      <li>
        <a class="dropdown-item" href="#"
          {{on "click" (fn this.download document_version)}}>
            version {{document_version.number}} {{document_version.short_description}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>