<button type="button"
  class="btn btn-light"
  {{on "click" @onDownloadNodes}}
  {{tooltip title='Download' placement='bottom'}}>
    {{#if @inProgress }}
      <Spinner @inProgress={{@inProgress}} />
    {{else}}
       <i class="bi bi-download"></i>
    {{/if}}
</button>