<div class="btn-group">
  <button
    class="btn btn-light dropdown-toggle"
    data-bs-toggle="dropdown"
    data-bs-auto-close="true"
    type="button">
      <i class="bi bi-download"></i>
  </button>
  <ul class="dropdown-menu download-document-version">
    {{#each @document_versions as |document_version|}}
      <li>
        <a class="dropdown-item" href="#"
          {{on "click" (fn this.download document_version)}}>
            version {{document_version.number}}
            {{#if document_version.short_description}}
              / {{document_version.short_description}}
            {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
