<div class="btn-group">
  <button class="btn btn-light dropdown-toggle"
    data-bs-toggle="dropdown"
    type="button"
    {{tooltip title='Download' placement='bottom'}}>
      <i class="bi bi-download"></i>
  </button>
  <ul class="dropdown-menu download-document-version">
    {{#each @document_versions as |document_version|}}
      <li>
        <a class="dropdown-item" href="#"
          {{on "click" (fn this.download document_version)}}>
            version {{document_version.number}} {{document_version.short_description}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>