<input
  type="file"
  multiple="true"
  hidden="true"
  {{on "change" this.onUploadChange }} />

<button
  class="btn btn-success"
  type="button" {{on "click" this.onClickProxyUpload }}>
    <i class="fa fa-upload mr-1"></i>
    Upload
</button>