<input
  type="file"
  multiple="true"
  hidden="true"
  {{on "change" this.onUploadChange }} />

<button class="btn btn-light"
  type="button"
  {{on "click" this.onClickProxyUpload }}
  {{tooltip title='Upload' placement='bottom'}}>
    <i class="bi bi-upload mr-1"></i>
</button>