<tr>
  <td>
    {{truncatechars @token.digest}}
  </td>
  <td>
    {{@token.expiry}}
  </td>
  <td>{{@token.created}}</td>
  <td>
    {{#if (has_perm 'delete_authtoken')}}
      <button class="btn btn-link" type="button" {{on "click" (fn this.onRemove @token)}}>
        Remove
      </button>
    {{/if}}
  </td>
</tr>
