<tr>
  <td>
    {{@automate.name}}
  </td>
  <td>
    {{@automate.match}}
  </td>
  <td>
    {{@automate.dst_folder}}
  </td>
  <td>
    ...
  </td>
  <td>
  <button class="btn btn-link" type="button">Edit
  </button>
  <button class="btn btn-link" type="button">Remove</button>
  </td>
</tr>