<div>
  <Button::Upload @node={{@node}} />

  <button
    class="btn btn-bordered btn-light btn-flat"
    type="button" {{on "click" @openNewFolderModal }}>
      <i class="fa fa-plus mr-1 text-success"></i>
    New Folder
  </button>
</div>