<div class="panel commander col m-2 p-2 user-select-none">
  <div class="row placeholder-glow">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex col-6">
        <button class="btn btn-secondary col-2 placeholder disabled" />
      </div>
      <div class="d-flex flex-row-reverse col-6">
        <button class="btn btn-secondary col-2 placeholder disabled" />
      </div>
    </div>
  </div>
  <div class="row placeholder-glow">
    <div class="d-flex flex-row">
      <div class="d-flex col-12 my-2">
        <a href="#" class="col-1 placeholder disabled my-2"></a>
        <a href="#" class="col-1 placeholder disabled m-2"></a>
        <a href="#" class="col-1 placeholder disabled my-2"></a>
      </div>
    </div>
  </div>
  <div class="row placeholder-glow">
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-warning placeholder disabled my-2" />
    </div>
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-warning placeholder disabled my-2" />
    </div>
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-warning placeholder disabled my-2" />
    </div>
  </div>

  <div class="row placeholder-glow">
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-info placeholder disabled my-2" />
    </div>
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-info placeholder disabled my-2" />
    </div>
    <div class="d-flex col-12">
      <button href="#" class="col-2 btn btn-info placeholder disabled my-2" />
    </div>
  </div>
</div>