<Button::New @route="roles.add" class="add-role"/>

<div class="tags">
  <table class="table table-striped align-middle">
    <thead>
      <tr class="text-uppercase">
        <th class="border-top-0">Name</th>
        <th class="border-top-0">Created</th>
        <th class="border-top-0">Modified</th>
        <th class="border-top-0">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |role|}}
        <tr>
          <td>
            {{role.name}}
          </td>
          <td>
            {{role.created_at}}
          </td>
          <td>
            {{role.updated_at}}
          </td>
          <td>
            <button class="btn btn-link" type="button"> Edit
          </button>
          <button class="btn btn-link" type="button">Remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>