<h1>Users</h1>

{{#if (has_perm 'add_user')}}
  <Button::New @route="authenticated.users.add" class="users-add"/>
{{/if}}

<Table @titles={{array
    'username'
    'email'
    'is_superuser'
    'is_active'
    'action'}}>
  {{#each @model as |user|}}
    <User::TableRow @user={{user}} />
  {{/each}}
</Table>
