<h1>Groups</h1>


{{#if (has_perm 'add_group')}}
  <Button::New @route="authenticated.groups.add" class="groups-add"/>
{{/if}}

<Table @titles={{array 'title' 'action'}}>
  {{#each @model as |group|}}
    <Group::TableRow @group={{group}} />
  {{/each}}
</Table>
