<nav aria-label="breadcrumb" class="m-2">
   <ol class="breadcrumb">
    {{#each this.nodes as |node|}}
      <li class="breadcrumb-item">
        <DualLinkTo
          @node={{node}}
          @extranode={{@extranode}}
          @hint={{@hint}} />
      </li>
    {{/each}}
  </ol>
</nav>