<nav aria-label="breadcrumb" class="m-2">
   <ol class="breadcrumb">
    {{#each this.nodes as |node|}}
      <li class="breadcrumb-item">
        <LinkTo
          @route="authenticated.nodes"
          @model={{@extranode.id}}
          @query={{hash extranode_id=node.id}}>
            {{node.title}}
        </LinkTo>
      </li>
    {{/each}}
  </ol>
</nav>