<div class="mb-3">
  <Label @for="name" @text="Name" />
  <Input @value={{@group.name}}
    class="form-control"
    id="name"
    placeholder="Group's name" />
</div>

<div class="d-flex flex-wrap permissions">
  {{#each this.permission_groups as |perm_group|}}
  <Group::PermissionGroup
    @perm_group={{perm_group}}
    @new_group_perms={{@group.permissions}} />
  {{/each}}
</div>

<div class="mb-3">
  <Button::Submit @onClick={{this.onSubmit}} />
  <Button::Cancel @route="authenticated.groups"/>
</div>