<tr>
  <td>
    {{@group.name}}
  </td>
  <td>
    <LinkTo
      @route="authenticated.groups.edit"
      @model={{@group.id}}>Edit</LinkTo>
    <Button::Link
      @text="Remove"
      @onClick={{(fn this.onRemove @group)}} />
  </td>
</tr>