<h2>Contact Us</h2>
<p>
  Papermerge Representatives would love to help you<br>
  choose a destination or answer any questions you may have.
</p>
<address>
  Papermerge HQ
  <p>
    Löwenberger str 4,<br>
    10315 Berlin
  </p>
  <a href="mailto:eugen@papermerge.com">eugen@papermerge.com</a>
</address>
<LinkTo @route="about" class="button">About</LinkTo>
