<div>
  <button class="btn btn-bordered btn-light btn-flat"
  type="button">
    <i class="fa fa-upload mr-1 text-success"></i>
    Upload
  </button>

  <button class="btn btn-bordered btn-light btn-flat"
  type="button" {{on "click" (fn this.newFolder 'new-folder') }}>
    <i class="fa fa-plus mr-1 text-success"></i>
    New Folder
  </button>
</div>

Documents and Folders will be displayed here!

<Modal::NewFolder
  id="new-folder" />