<Tag::New />

<Table @titles={{array 'Tag Name' 'Pinned?' 'Description' 'Action' }}>
  {{#each @model as |tag|}}
    <Tag::TableRow @tag={{tag}} />
  {{/each}}
</Table>

{{#if this.more_than_one_pages }}
  <Pagination
    @pages={{this.pages}}
    @route="authenticated.tags" />
{{/if}}
