{{#if (has_perm 'add_authtoken')}}
  <Token::New />
{{/if}}

<Table @titles={{array 'Digest' 'Expiry' 'Created' 'Action' }}>
  {{#each @model as |token|}}
    <Token::TableRow @token={{token}} />
  {{/each}}
</Table>
