<main>
  <Nav::Sidebar @home_folder={{this.home_folder}} />
  <div class="w-100 central-bar">
    <Nav::Topbar />
    <div class="container-fluid mx-2 my-1">
      {{outlet}}
    </div>
  </div>
</main>