<main class="form-sign-in">
  <div>
    <div class="papermerge-logo">
      <img width="112px" height="108px" src="/assets/images/logo.svg">
    </div>

    <div class="card px-2 py-3">
      <div class="card-body">

        <p class="card-title text-secondary">
          Please sign in to start your session
        </p>

        <Login
          @onSubmit={{this.authenticate}}
          @inProgress={{this.inProgress}}>
          {{#if this.errorMessage}}
            <p class="text-danger">{{this.errorMessage}}</p>
          {{/if}}
        </Login>

      </div> <!-- card-body -->
    </div> <!-- card -->

    <ul class="list-inline list-unstiled p-3">
      <li class="list-inline-item"><a class="text-decoration-none m-2" href="https://docs.papermerge.io">Documentation</a></li>
      <li class="list-inline-item"><a class="text-decoration-none m-2" href="{{this.browsable_api_url}}">Browsable API</a></li>
    </ul>
  </div>
</main>
