<main class="form-sign-in">
  <div>
    <div class="papermerge-logo">
      <img src="/assets/images/logo.svg">
    </div>

    <div class="card px-2 py-3">
      <div class="card-body">

        <p class="card-title text-secondary">
          Please sign in to start your session
        </p>

        <Login @onSubmit={{this.authenticate}}>
          {{#if this.errorMessage}}
            <p class="text-danger">{{this.errorMessage}}</p>
          {{/if}}
        </Login>

      </div> <!-- card-body -->
    </div> <!-- card -->
  </div>
</main>
