<p class="my-2">
  <Tag::New />
</p>

<div class="tags">
  <table class="table table-striped align-middle">
    <thead>
      <tr class="text-uppercase">
        <th class="border-top-0">Tag Name</th>
        <th class="border-top-0">Pinned?</th>
        <th class="border-top-0">Description</th>
        <th class="border-top-0">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |tag|}}
        <tr>
          <Tag::TableRow @tag={{tag}} />
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
